extend layout
block content
  p.
    Over the next few weeks and months, this site should build out as I learn more.
  p.
    <img width="500px"; src="http://www.zercustoms.com/news/images/Pontiac/50-Cent-Pontiac-G8-2.jpg"/>

block sidebar
  .widget
    h1 Work history
    p.
      Email Automation Engineer
    p.
      Data Engineer
